@import "~@fluentui/react/dist/sass/References.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.listItemsFilter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row-reverse;
  width: 100%;
  outline: none;

  .sidebar-filter {
    width: 36%;
    min-width: 227px;
    border: 1px solid rgb(46, 33, 96);
    padding: 10px;
    margin: 10px;
    margin-left: 86px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .input-field {
      padding: 6px;
      margin-top: 8px;
      font-size: 15px;
      border: 1px solid #ccc;
    }
    .project-button {
      background-color: rgb(13, 13, 163);
      padding: 10px 70px;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      margin-bottom: 20px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.listItemsFilter {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
@media screen and (max-width: 965px) {
  .listItemsFilter {
    flex-direction: column;
    align-items: center;
    flex-flow: column-reverse;
    .sidebar-filter {
      width: 38%;
    }
  }
}
